<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <insert id="insertRole"
            parameterType="com.smileduster.vsboard.api.model.dto.account.RoleDTO"
            useGeneratedKeys="true">
        insert into vs_role (role_name, role_status)
        values (#{roleName}, #{roleStatus});
    </insert>
    <insert id="insertPerm"
            parameterType="com.smileduster.vsboard.api.model.dto.account.PermDTO"
            useGeneratedKeys="true">
        insert into vs_perm (perm_name, perm_status)
        values (#{permName}, #{permStatus});
    </insert>
    <insert id="insertUser"
            parameterType="com.smileduster.vsboard.api.model.dto.account.UserDTO"
            useGeneratedKeys="true">
        insert into vs_user (user_name, user_pwd, user_create_time)
        values (#{userName}, #{userPwd}, current_timestamp);
    </insert>

    <delete id="deleteRoleById">
        delete from vs_role where role_id = #{rid}
    </delete>
    <delete id="deletePermById">
        delete from vs_role where role_id = #{rid}
    </delete>
    <delete id="deleteUserById">
        delete from vs_role where role_id = #{rid}
    </delete>

    <update id="updatePermStatus">
        update vs_perm
        set perm_status = #{status}
        where perm_id = #{pid};
    </update>
    <update id="updateRoleStatus">
        update vs_role
        set role_status = #{status}
        where role_id = #{rid};
    </update>
    <update id="updatePermStatus">
        update vs_perm
        set perm_status = #{status}
        where perm_id = #{pid};
    </update>
    <update id="updatePermStatus">
        update vs_perm
        set perm_status = #{status}
        where perm_id = #{pid};
    </update>
    <update id="updatePermStatus">
        update vs_perm
        set perm_status = #{status}
        where perm_id = #{pid};
    </update>
    <update id="updatePermStatus">
        update vs_perm
        set perm_status = #{status}
        where perm_id = #{pid};
    </update>

</mapper>

<!--
    List<User> selectUserByName(String name, int page, int skip);
    List<User> selectUserAll(int page, int skip);
    User selectUserById(int uid);
    List<Role> selectRoleAll(int page, int skip);
    Role selectRoleById(int rid);
    List<Perm> selectPermAll(int page, int skip);

    boolean updatePwd(int uid, String pwd);
    void updateUserInfo(UserDTO dto);
    void updateRoleInfo(RoleDTO dto);
    void updatePermInfo(PermDTO dto);
    boolean updateRoleStatus(int rid, int status);
    boolean updatePermStatus(int pid, int status);

    void deleteUserById(int uid);
    void deleteRoleById(int rid);
    void deletePermById(int pid);

    void insertUser(UserDTO dto);
    void insertPerm(PermDTO dto);
    void insertRole(RoleDTO dto);
-->