<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smileduster.vsboard.service.data.AuthMapper">

    <insert id="insertUser"
            parameterType="com.smileduster.vsboard.api.model.po.User"
            useGeneratedKeys="true">
        insert into vs_user (user_id, user_name, user_no, user_pwd, user_pwd_salt, user_email, user_create_time,
                             user_login_time, user_last_ip)
        values (#{userId}, #{userName}, #{userNo}, #{userPwd},
                #{userPwdSalt}, #{userEmail}, #{userCreateTime}, #{userLoginTime}, #{userLastIP});
    </insert>

    <select id="selectUserById" resultType="com.smileduster.vsboard.api.model.po.User">
        select user_id          userId,
               user_name        userName,
               user_pwd         userPwd,
               user_pwd_salt    userPwdSalt,
               user_no          userNo,
               user_email       userEmail,
               user_create_time userCreateTime,
               user_login_time  userLoginTime,
               user_last_ip     userLastIP
        from vs_user
        where user_id = #{userId};
    </select>

    <select id="selectRolesByUserId" resultType="com.smileduster.vsboard.api.model.po.Role">
        select vr.role_id   roleId,
               role_name    roleName
        from vs_role vr
        join vs_user_role vur on vr.role_id = vur.role_id
        where user_id = #{userId};
    </select>

    <select id="checkUserNo" resultType="int">
        select count(*)
        from vs_user vu
        where vu.user_no = #{userNo};
    </select>

</mapper>

<!--

-->