<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smileduster.vsboard.service.data.IdMapper">
    
<!--    <select id="getUserName" resultType="String">-->
<!--        select user_name-->
<!--        from vs_user-->
<!--        where user_id = #{userId};-->
<!--    </select>-->
    <select id="getUserId" resultType="int">
        select user_id
        from vs_user
        where user_no = #{userNo};
    </select>
<!--    -->
<!--    <select id="getGroupUUID">-->
<!--        select group_uuid-->
<!--        from vs_group-->
<!--        where group_id = #{groupId};-->
<!--    </select>-->
<!--    <select id="getGroupId">-->
<!--        select group_id-->
<!--        from vs_group-->
<!--        where group_uuid = #{groupUUID};-->
<!--    </select>-->
<!--    -->
<!--    <select id="getBattleUUID">-->
<!--        select battle_uuid-->
<!--        from vs_battle-->
<!--        where battle_id = #{battleId};-->
<!--    </select>-->
<!--    <select id="getBattleId">-->
<!--        select battle_id-->
<!--        from vs_battle-->
<!--        where battle_uuid = #{battleUUID};-->
<!--    </select>-->
<!--    -->
<!--    <select id="getMemberUUID">-->
<!--        select member_uuid-->
<!--        from vs_member-->
<!--        where member_id = #{memberId};-->
<!--    </select>-->
<!--    <select id="getMemberId">-->
<!--        select member_id-->
<!--        from vs_member-->
<!--        where member_uuid = #{memberUUID};-->
<!--    </select>-->
    
</mapper>

<!--

-->